<a class="grid__link" href="{{item.link}}">
  <img class="grid__img layer" src="img/canvas.png" alt="Canvas Dummy"/>
  <img class="grid__img layer" src="img/wireframe.png" alt="Wireframe Dummy"/>
  <img class="grid__img layer" src="{{item.img}}" alt="{{item.alt}}"/>
  <span class="grid__title">{{item.title}}</span>
</a>