.pseudo-scroller {
  pointer-events: none;
}

.grid,
.grid__item,
.grid__link {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.grid {
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.grid__link {
  position: relative;
  z-index: 1;
  display: block;
}

.grid__img {
  display: block;
  max-width: 100%;
}

.grid__title {
  font-size: 0.65em;
  font-weight: 600;
  position: absolute;
  z-index: -1;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  color: #fff;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.grid__item:hover .grid__title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.layer {
  position: relative;
  display: block;
}

.layer:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}



/* Flip effect for the scrollable grid */

.grid--effect-flip .grid__item {
  opacity: 0;
}

.grid--effect-flip .grid__item.shown {
  opacity: 1;
}

.grid--effect-flip .grid__item.animate {
  -webkit-transform: translateY(800px);
  transform: translateY(800px);
  -webkit-animation: moveUp 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
  animation: moveUp 1s cubic-bezier(0.2, 1, 0.3, 1) forwards;
}

@-webkit-keyframes moveUp {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes moveUp {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

/* Loading effect */
.grid {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.grid.grid--loaded {
  opacity: 1;
}

@-webkit-keyframes rotateCircle {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
